In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import geojson
import numpy as np
from geojson import Feature, Point, FeatureCollection

In [29]:
general = pd.read_csv('./datos_abiertos_covid19_01.05.2020/covid-19_general_MX.csv', 
                 encoding='utf-8', error_bad_lines=False)

estados = pd.read_csv('./datos_abiertos_covid19_01.05.2020/ENTIDADES.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_sector = pd.read_csv('./datos_abiertos_covid19_01.05.2020/SECTOR.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_sexo = pd.read_csv('./datos_abiertos_covid19_01.05.2020/SEXO.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_paciente = pd.read_csv('./datos_abiertos_covid19_01.05.2020/TIPO_PACIENTE.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_sino = pd.read_csv('./datos_abiertos_covid19_01.05.2020/SI_NO.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_resultado = pd.read_csv('./datos_abiertos_covid19_01.05.2020/RESULTADO.csv', 
                 encoding='utf-8', error_bad_lines=False)

df_nacionalidad = pd.read_csv('./datos_abiertos_covid19_01.05.2020/NACIONALIDAD.csv', 
                 encoding='utf-8', error_bad_lines=False)

In [30]:
general

,COD_CASO,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,...,INMUSUPR,HIPERTENSION,OTRA_CON,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI
0,0,4,30,1,30,1,2020-04-15,2020-04-12,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
1,1,4,9,2,9,1,2020-04-13,2020-04-04,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
2,2,4,19,2,19,1,2020-04-22,2020-04-15,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
3,3,4,23,1,23,1,2020-04-20,2020-04-10,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
4,4,4,2,2,2,1,2020-04-28,2020-04-23,9999-99-99,97,...,2,2,2,2,2,2,2,99,1,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193584,193584,4,19,1,19,1,2020-05-16,2020-05-15,9999-99-99,97,...,2,2,2,2,1,2,2,99,3,97
193585,193585,12,7,1,7,1,2020-05-14,2020-05-12,9999-99-99,97,...,2,1,2,2,2,2,2,2,3,97
193586,193586,4,5,1,5,2,2020-05-16,2020-05-16,9999-99-99,2,...,2,1,2,2,1,1,2,99,3,2
193587,193587,4,27,1,27,1,2020-05-17,2020-05-17,9999-99-99,97,...,2,2,2,2,1,2,2,99,3,97
193588,193588,4,12,2,12,1,2020-05-16,2020-05-13,9999-99-99,97,...,2,2,2,2,2,2,2,99,3,97

In [31]:
new_cols = ['sector','sexo','estado_um','longitud','latitud','estado_res','tipo_paciente',
            'intubado','neumonia','edad','nacionalidad','diabetes','epoc','asma',
            'inmusupr','hipertension','otra_con','cardiovascular','obesidad', 
            'renal_cronica','tabaquismo','otro_caso','resultado','uci']

In [32]:
# recorre la lista de columnas y añade el contido de la lista como otras columnas
# al dataframe que lei
def add_columns(df, cols):
    for i in range(len(cols)):
        df[cols[i]] = np.nan
    return df

In [33]:
# añadiedo las columnas a mi dataframe
general = add_columns(general, new_cols)

In [34]:
general

,COD_CASO,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,...,inmusupr,hipertension,otra_con,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,resultado,uci
0,0,4,30,1,30,1,2020-04-15,2020-04-12,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4,9,2,9,1,2020-04-13,2020-04-04,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4,19,2,19,1,2020-04-22,2020-04-15,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,23,1,23,1,2020-04-20,2020-04-10,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,2,2,2,1,2020-04-28,2020-04-23,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193584,193584,4,19,1,19,1,2020-05-16,2020-05-15,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,193585,12,7,1,7,1,2020-05-14,2020-05-12,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193586,193586,4,5,1,5,2,2020-05-16,2020-05-16,9999-99-99,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,193587,4,27,1,27,1,2020-05-17,2020-05-17,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193588,193588,4,12,2,12,1,2020-05-16,2020-05-13,9999-99-99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
estados = estados[['CLAVE_ENTIDAD','ENTIDAD_FEDERATIVA','LONGITUD','LATITUD']]
estados

    CLAVE_ENTIDAD               ENTIDAD_FEDERATIVA  LONGITUD  LATITUD
0               1                   AGUASCALIENTES    -102.0     22.0
1               2                  BAJA CALIFORNIA    -115.0     32.0
2               3              BAJA CALIFORNIA SUR    -110.0     24.0
3               4                         CAMPECHE     -90.0     19.0
4               5             COAHUILA DE ZARAGOZA    -101.0     25.0
5               6                           COLIMA    -103.0     19.0
6               7                          CHIAPAS     -93.0     16.0
7               8                        CHIHUAHUA    -101.0     25.0
8               9                 CIUDAD DE MÉXICO     -99.0     19.0
9              10                          DURANGO    -104.0     24.0
10             11                       GUANAJUATO    -101.0     21.0
11             12                         GUERRERO     -99.0     17.0
12             13                          HIDALGO     -98.0     20.0
13             14                          JALISCO    -103.0     20.0
14             15                           MÉXICO     -99.0     20.0
15             16              MICHOACÁN DE OCAMPO    -101.0     19.0
16             17                          MORELOS     -99.0     19.0
17             18                          NAYARIT    -105.0     21.0
18             19                       NUEVO LEÓN    -100.0     25.0
19             20                           OAXACA     -96.0     17.0
20             21                           PUEBLA     -98.0     19.0
21             22                        QUERÉTARO    -100.0     21.0
22             23                     QUINTANA ROO     -88.0     19.0
23             24                  SAN LUIS POTOSÍ    -101.0     22.0
24             25                          SINALOA    -107.0     25.0
25             26                           SONORA    -110.0     29.0
26             27                          TABASCO     -93.0     18.0
27             28                       TAMAULIPAS     -99.0     24.0
28             29                         TLAXCALA     -98.0     19.0
29             30  VERACRUZ DE IGNACIO DE LA LLAVE     -96.0     19.0
30             31                          YUCATÁN     -90.0     21.0
31             32                        ZACATECAS    -103.0     23.0
32             36         ESTADOS UNIDOS MEXICANOS       NaN      NaN
33             97                        NO APLICA       NaN      NaN
34             98                        SE IGNORA       NaN      NaN
35             99                  NO ESPECIFICADO       NaN      NaN

In [36]:
df_nacionalidad = df_nacionalidad [['CLAVE','DESCRIPCION']]
df_nacionalidad

   CLAVE      DESCRIPCION
0      1         MEXICANA
1      2       EXTRANJERA
2     99  NO ESPECIFICADO

In [37]:
df_paciente = df_paciente [['CLAVE','DESCRIPCION']]
df_paciente

   CLAVE      DESCRIPCION
0      1      AMBULATORIO
1      2    HOSPITALIZADO
2     99  NO ESPECIFICADO

In [38]:
df_resultado = df_resultado[['CLAVE','DESCRIPCION']]
df_resultado

   CLAVE             DESCRIPCION
0      1     Positivo SARS-CoV-2
1      2  No positivo SARS-CoV-2
2      3     Resultado pendiente

In [39]:
df_sector = df_sector[['CLAVE','DESCRIPCION']]
df_sector

    CLAVE      DESCRIPCION
0       1        CRUZ ROJA
1       2              DIF
2       3          ESTATAL
3       4             IMSS
4       5   IMSS-BIENESTAR
5       6           ISSSTE
6       7        MUNICIPAL
7       8            PEMEX
8       9          PRIVADA
9      10           SEDENA
10     11            SEMAR
11     12              SSA
12     13    UNIVERSITARIO
13     99  NO ESPECIFICADO

In [40]:
df_sexo = df_sexo[['CLAVE','DESCRIPCION']]
df_sexo

   CLAVE      DESCRIPCION
0      1            MUJER
1      2           HOMBRE
2     99  NO ESPECIFICADO

In [41]:
df_sino = df_sino[['CLAVE','DESCRIPCION']]
df_sino

   CLAVE      DESCRIPCION
0      1              SI
1      2              NO
2     97        NO APLICA
3     98        SE IGNORA
4     99  NO ESPECIFICADO

In [42]:
df_nacionalidad = df_nacionalidad[['CLAVE','DESCRIPCION']]
df_nacionalidad

   CLAVE      DESCRIPCION
0      1         MEXICANA
1      2       EXTRANJERA
2     99  NO ESPECIFICADO

In [43]:
def lons_lat_dataframe(df1, df2, df3, df4, df5, df6, df7, df8):
    
    for i in range (len(df1)):
        #codigo dataframe el nombre de la columna
        nombre_estado = df1['ENTIDAD_UM'].iloc[i]
        sector = df1['SECTOR'].iloc[i]
        sexo = df1['SEXO'].iloc[i]
        paciente = df1['TIPO_PACIENTE'].iloc[i]
        intubado = df1['INTUBADO'].iloc[i]
        neumonia = df1['NEUMONIA'].iloc[i]
        diabetes = df1['DIABETES'].iloc[i]
        epoc = df1['EPOC'].iloc[i]
        asma = df1['ASMA'].iloc[i]
        inmusupr = df1['INMUSUPR'].iloc[i]
        hipertension = df1['HIPERTENSION'].iloc[i]
        otra = df1['OTRA_CON'].iloc[i]
        cardiovascular = df1['CARDIOVASCULAR'].iloc[i]
        obesidad = df1['OBESIDAD'].iloc[i]
        renal = df1['RENAL_CRONICA'].iloc[i]
        tabaquismo = df1['TABAQUISMO'].iloc[i]
        otro = df1['OTRO_CASO'].iloc[i]
        resultado = df1['RESULTADO'].iloc[i]
        cui = df1['UCI'].iloc[i]
        nacionalidad = df1['NACIONALIDAD'].iloc[i]
        
        for j in range (len(df2)):  
            # codigo del dataframe estados
            cod_entidad = int(df2['CLAVE_ENTIDAD'].iloc[j])
            if (nombre_estado == cod_entidad):
                df1['estado_um'].iloc[i] = df2['ENTIDAD_FEDERATIVA'].iloc[j] 
                df1['estado_res'].iloc[i] = df2['ENTIDAD_FEDERATIVA'].iloc[j] 
                df1['longitud'].iloc[i] = df2['LONGITUD'].iloc[j] 
                df1['latitud'].iloc[i] = df2['LATITUD'].iloc[j]                 
                break
                
        for a in range (len(df3)):
            # sector 
            cod_sector = int(df3['CLAVE'].iloc[a])
            if (sector == cod_sector):
                        df1['sector'].iloc[i] = df3['DESCRIPCION'].iloc[a]
                        break                
        for b in range (len(df4)):
            #sexo
            cod_sexo = int(df4['CLAVE'].iloc[b])
            if (sexo == cod_sexo):
                df1['sexo'].iloc[i] = df4['DESCRIPCION'].iloc[b]
                break
                
        for c in range (len(df5)):
            # paciente
            cod_paciente = int(df5['CLAVE'].iloc[c])
            if (paciente == cod_paciente):
                df1['tipo_paciente'].iloc[i] = df5['DESCRIPCION'].iloc[c]
                break
                
        for d in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[d])
            if (intubado == cod_sino):
                df1['intubado'].iloc[i] = df6['DESCRIPCION'].iloc[d]
                break
                
        for e in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[e])
            if (neumonia == cod_sino):
                df1['neumonia'].iloc[i]  = df6['DESCRIPCION'].iloc[e]
                break
                
        for f in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[f])
            if (diabetes == cod_sino):
                df1['diabetes'].iloc[i] = df6['DESCRIPCION'].iloc[f]
                break
                
        for g in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[g])
            if ( epoc== cod_sino):
                df1['epoc'].iloc[i] = df6['DESCRIPCION'].iloc[g]
                break
                
        for h in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[h])
            if ( asma == cod_sino):
                df1['asma'].iloc[i] = df6['DESCRIPCION'].iloc[h]
                break
                
        for k in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[k])
            if ( inmusupr== cod_sino):
                df1['inmusupr'].iloc[i] = df6['DESCRIPCION'].iloc[k]    
                break
                
        for l in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[l])
            if (hipertension == cod_sino):
                df1['hipertension'].iloc[i] = df6['DESCRIPCION'].iloc[l]    
                break
                
        for m in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[m])
            if ( otra== cod_sino):
                df1['otra_con'].iloc[i] = df6['DESCRIPCION'].iloc[m]                    
                break
                
        for n in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[n])
            if (cardiovascular == cod_sino):
                df1['cardiovascular'].iloc[i] = df6['DESCRIPCION'].iloc[n]
                break
                
        for o in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[o])
            if (obesidad == cod_sino):
                df1['obesidad'].iloc[i] = df6['DESCRIPCION'].iloc[o]
                break
                
        for p in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[p])
            if (renal == cod_sino):
                df1['renal_cronica'].iloc[i] = df6['DESCRIPCION'].iloc[p]   
                break
                
        for q in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[q])
            if (tabaquismo == cod_sino):
                df1['tabaquismo'].iloc[i] = df6['DESCRIPCION'].iloc[q]                   
                break
                
        for r in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[r])
            if (otro == cod_sino):
                df1['otro_caso'].iloc[i] = df6['DESCRIPCION'].iloc[r]   
                break
                
        for s in range (len (df6)):
            cod_sino = int(df6['CLAVE'].iloc[s])
            if ( cui== cod_sino):
                df1['uci'].iloc[i] = df6['DESCRIPCION'].iloc[s] 
                break
                    
        for u in range (len(df7)):
            # resultado
            cod_resultado = int(df7['CLAVE'].iloc[u])
            if ( resultado == cod_resultado):
                df1['resultado'].iloc[i] = df7['DESCRIPCION'].iloc[u]
                break
                
        for v in range (len(df8)):
            # nacionalidad
            cod_nacionalidad = int(df8['CLAVE'].iloc[v])
            if (sector == cod_sector):
                df1['nacionalidad'].iloc[i] = df8['DESCRIPCION'].iloc[v]
                break  
                        
lons_lat_dataframe(general, estados, df_sector, df_sexo, df_paciente, df_sino, df_resultado, df_nacionalidad)

/home/wicho/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
general

,COD_CASO,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,...,inmusupr,hipertension,otra_con,cardiovascular,obesidad,renal_cronica,tabaquismo,otro_caso,resultado,uci
0,0,4,30,1,30,1,2020-04-15,2020-04-12,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Positivo SARS-CoV-2,NO APLICA
1,1,4,9,2,9,1,2020-04-13,2020-04-04,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Positivo SARS-CoV-2,NO APLICA
2,2,4,19,2,19,1,2020-04-22,2020-04-15,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Positivo SARS-CoV-2,NO APLICA
3,3,4,23,1,23,1,2020-04-20,2020-04-10,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Positivo SARS-CoV-2,NO APLICA
4,4,4,2,2,2,1,2020-04-28,2020-04-23,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Positivo SARS-CoV-2,NO APLICA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193584,193584,4,19,1,19,1,2020-05-16,2020-05-15,9999-99-99,97,...,NO,NO,NO,NO,SI,NO,NO,NO ESPECIFICADO,Resultado pendiente,NO APLICA
193585,193585,12,7,1,7,1,2020-05-14,2020-05-12,9999-99-99,97,...,NO,SI,NO,NO,NO,NO,NO,NO,Resultado pendiente,NO APLICA
193586,193586,4,5,1,5,2,2020-05-16,2020-05-16,9999-99-99,2,...,NO,SI,NO,NO,SI,SI,NO,NO ESPECIFICADO,Resultado pendiente,NO
193587,193587,4,27,1,27,1,2020-05-17,2020-05-17,9999-99-99,97,...,NO,NO,NO,NO,SI,NO,NO,NO ESPECIFICADO,Resultado pendiente,NO APLICA
193588,193588,4,12,2,12,1,2020-05-16,2020-05-13,9999-99-99,97,...,NO,NO,NO,NO,NO,NO,NO,NO ESPECIFICADO,Resultado pendiente,NO APLICA

In [45]:
general.to_csv(r'./GENERAL_MODIFICADO.csv')

In [8]:
general_mod = pd.read_csv('./GENERAL_MODIFICADO.csv', 
                 encoding='utf-8', error_bad_lines=False)

In [9]:
# importamos librería necesaria para quitar los acentos
import unicodedata
# función que elimina acentos
# Recibe una cadena con tílde
# Devuelve la misma cadena sin tilde
def elimina_tildes(cadena):
    s = ''.join((c for c in unicodedata.normalize('NFD',cadena) if unicodedata.category(c) != 'Mn'))
    return s

# string_acentos = 'café'
# sin_tildes = elimina_tildes(string_acentos)
# print (sin_tildes)
# Tomado de: https://gist.github.com/victorono/7633010

In [10]:
# dataframe -> conjunto de datos
# df -> dataframe de datos
def generar_geojson (df):
    
    # crear una lista de features
    lst_features = list()
    for i in range (len(df)):
        
        # iloc para acceder al elemento i de un dataframe
        # Puntos (longitud, latitud) 
        long = int(df['longitud'].iloc[i])
        lat = int(df['latitud'].iloc[i])
        # otras variables
        estado = elimina_tildes(df['estado_um'].iloc[i])
        fecha_ingreso = df['FECHA_INGRESO'].iloc[i]
        fecha_sintomas = df['FECHA_SINTOMAS'].iloc[i]
        fecha_def = df['FECHA_DEF'].iloc[i]
        sector = df['sector'].iloc[i]
        sexo = df['sexo'].iloc[i]
        tipo_paciente = df['tipo_paciente'].iloc[i]
        intubado = df['intubado'].iloc[i]
        neumonia = df['neumonia'].iloc[i]
        edad = int(df['EDAD'].iloc[i])
        diabetes = df['diabetes'].iloc[i]
        epoc = df['epoc'].iloc[i]
        asma = df['asma'].iloc[i]
        inmusupur = df['inmusupr'].iloc[i]
        hipertension = df['hipertension'].iloc[i]
        cardiovascular = df['cardiovascular'].iloc[i]
        obesidad = df['obesidad'].iloc[i]
        renal_cronica = df['renal_cronica'].iloc[i]
        tabaquismo = df['tabaquismo'].iloc[i]
        otro_caso = df['otro_caso'].iloc[i]
        otra_con = df['otra_con'].iloc[i]
        resultado = df['resultado'].iloc[i]
          
        # Geometria de tipo punto
        longlat = Point((long,lat))
        # crear feature
        feature_point = Feature(geometry = longlat, id = i, properties = {
        'state_name': estado, 'fecha_ingreso': fecha_ingreso, 'fecha_sintomas': fecha_sintomas,
        'fecha_defuncion': fecha_def, 'sector': sector, 'sexo': sexo,'tipo_paciente': tipo_paciente,
        'intubado': intubado, 'neumonia': neumonia, 'edad': edad,'diabetes':diabetes,
        'epoc': epoc, 'asma': asma, 'inmusupur': inmusupur, 'hipertension': hipertension,
        'cardiovascular': cardiovascular, 'obesidad': obesidad, 'renal_cronica': renal_cronica,
        'tabaquismo': tabaquismo, 'otro_caso': otro_caso, 'otra_condicion': otra_con,
        'resultado': resultado})
        
        lst_features.append(feature_point)
    # retornando la colección de features
    return FeatureCollection(lst_features)

# llamado de la funcion y le paso el dataframe que tiene los datos
geojson_luis = generar_geojson (general_mod)

In [51]:
geojson_luis

TypeError: Object of type int64 is not JSON serializable

In [11]:
# crear una variable
# utilizar open para crear un archivo en una ruta con una extesion
archivo = open('./covidMX.geojson', 'w')

# escritura del archivo en la ruta con la estructura previamente creada de tipo geojson
archivo.write(str(geojson_luis))
archivo.close()